.container {
  /* position: fixed; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  width: 50vw;
  max-width: 500px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  border-radius: 4px;
  line-height: 2;
  z-index: 1;
  position: absolute;
}

.headshot {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.author {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe;
}

.desc {
  font-family: var(--font-quicksand);
}

.btn {
  font-family: var(--font-quicksand);
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 15px !important;
  border-radius: 5px;
  background: #000000;
  color: rgba(255, 255, 255, 0.9);
}

.social {
  display: flex;
  margin-top: 20px;
}

.social a {
  margin: 0px 30px 0px 30px;
  font-size: 18px;
  color: #000000;
}
